@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

$main-color: #fff;
$num-font-family: "Montserrat", sans-serif;

/* 스타일 초기화*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  /* font를 부모에게 상속 받아라 */
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 하이퍼링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
  /* cursor: crosshair; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main,
.menu-area,
.slogan,
.footer-area {
  width: 1000px;
  margin: 0 auto;
}
/*  css 모듈
    가상요소 clearfix 제작
*/
.clearfix::after {
  /* 상자를 만들어주려면 content="" null값 필요  */
  content: "";
  display: block;
  clear: both;
}
/* 숨김 콘텐츠 */
.readable-hidden,
.skip-nav,
legend {
  /* 콘텐츠를 아예 없음*/
  /* display: none; */
  /* 화면에서 감춰지지만접근 할수 없음*/
  /* visibility: hidden; */
  /* 숨김처리 트릭 화면에서 멀리 보내기*/
  /* position: relative;
    left: -9999em; */
  /* 접근할수 있으면서 화면에서만 안보이게 하는 트릭 */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  /* 사각형 단위로 짤라내기 */
  clip: rect(0, 0, 0, 0);
}
/* 동적으로 보이도록 처리 */
.skip-nav:focus {
  width: 100%;
  height: auto;
  padding: 1em;
  background: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  z-index: 100;
}

html {
  font-size: 10px;
}
body {
  background-color: $main-color;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
}
.top {
  position: relative;
}
// 헤더
.header {
  height: 90px;
  z-index: 1000;
  background: $main-color;
  position: fixed;
  padding: 0;
  width: 100%;
  text-align: center;
  top: 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  .menu-area {
    position: relative;
    padding: 0;
    border: none;
    text-align: center;
    .logo {
      position: absolute;
      top: 20px;
      left: 10px;
      a {
        height: 50px;
      }
      a,
      img {
        width: 130px;
      }
    }
    .menu {
      float: left;
      padding-left: 200px;
      .menu-item {
        line-height: 90px;
        height: 90px;
        position: relative;
        margin-right: 30px;
        span {
          font-size: 1.4rem;
          color: #222;
          font-weight: 700;
          &:hover {
            border-bottom: 3px solid #222;
          }
        }
      }
    }
    .sub-menu {
      display: none;
      position: absolute;
      width: 140px;
      top: 75px;
      left: -13px;
      background: #f6f6f6;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
      li,
      a {
        height: 30px;
        display: block;
        text-align: left;
      }
      a {
        line-height: 10px;
        padding: 10px 15px 15px 15px;
        color: #222;
        font-size: 1.2rem;
        font-weight: normal;
        &:hover {
          color: #222;
          font-weight: 700;
        }
      }
    }
    .sub-menu {
      body.show & {
        display: block;
      }
    }
    .main-member {
      border: none;
      float: right;
      height: 90px;
      margin-right: -50px;
      li {
        float: left;
        text-align: right;
        margin-right: 22px;
      }
      .last {
        margin-right: 0;
      }
    }
    li,
    a {
      display: inline-block;
    }
    a {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.3);
      line-height: 90px;
      font-weight: 700;
      height: 90px;
      &:hover {
        color: #666;
      }
    }
    .member-logout,
    .member-cart,
    .member-mypage {
      display: none;
    }

    .member-logout,
    .member-cart,
    .member-mypage {
      body.authed & {
        display: inline-block;
      }
    }
    .member-login {
      body.authed & {
        display: none;
      }
    }
    .member-join {
      body.authed & {
        display: none;
      }
    }
  }
}

// container
.container {
  position: relative;
  min-width: 1000px;
  height: 100%;
  margin: 0 auto;
  // 로그인화면
  .login {
    margin: 170px 20px 0 20px;
    text-align: center;
    .input {
      margin: 0 auto;
    }
    input {
      margin: 1rem auto;
      display: block;
      position: relative;
      border: 1px solid #ddd;
      width: 470px;
      height: 50px;
      padding-left: 20px;
      font-size: 1.5rem;
      color: #333;
      background-color: #fff;
    }
    .login-membar-area {
      display: flex;
      justify-content: center;
      height: 70px;
    }
    .login-membar {
      margin-top: 1em;
      li {
        margin-right: 0;
      }
      li,
      a {
        display: inline-block;
        text-align: center;
      }
      a {
        height: 30px;
        font-size: 1.2rem;
        color: #999;
        line-height: 1.2rem;
        padding: 8px 20px;
      }
      li:nth-child(n + 2)::before {
        content: "|";
        color: #999;
      }
    }
    .line {
      width: 470px;
      height: 1px;
      background-color: #ddd;
    }
  }
  // 비주얼
  .visual-area {
    width: 100%;
    height: 500px;
    margin-top: 90px;

    .visual-img {
      height: 500px;
      background-color: rgb(237, 236, 236);
      background: url("images/main/banner/sample2_2.png"),
        url("images/main/banner/sample2_1.jpg") no-repeat;
      background-size: cover;
      text-align: center;
      left: 100%;
    }
  }
  // 메인
  .main-area {
    width: 100%;
    margin: 50px 0px 0px 0px;
    .product-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      .product-item {
        img {
          position: relative;
          background: #888;
          width: 220px;
          height: 272px;
        }
        .product-img {
          display: inline-flex;
        }
        .product-img .hidden {
          display: none;
        }
        .item-box {
          padding: 1em 0 4rem 0;
          background-color: #fff;
        }
        .item-title {
          color: #222;
          font-size: 1em;
          font-weight: 700;
          width: 217px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .state {
          height: 20px;
          width: auto;
          margin-top: 10.4px;
        }
        .item-price-unit {
          float: right;
          font-family: $num-font-family;
          font-size: 1em;
          margin-top: 0.8em;
          .item-price {
            color: #222;
            font-weight: 700;
            border-bottom: 2px solid #222;
          }
          .item-before-price {
            font-weight: 400;
            color: #999;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
  // 상품 상세
  .details-area {
    margin: 140px auto 0px auto;
    width: 906px;
    .details-box {
      display: flex;
      flex-direction: row;
      .details-list {
        height: 300px;
      }
      img {
        width: 400px;
        height: 498px;
        text-align: left;
        background-color: #e6e6e6;
        margin-right: 5rem;
      }
      .details-info {
        h3 {
          font-size: 2.1em;
          font-weight: 700;
          margin-bottom: 1em;
        }
        .details-list {
          text-align: left;
          font-size: 1em;
          color: #888;
          line-height: 28px;
          .count-tilte {
            line-height: 50px;
          }
          dt {
            width: 140px;
            float: left;
          }
          dd {
            color: #333;
            font-weight: 500;
            .text {
              margin-left: 0.6em;
            }
          }
          .details-price {
            font-size: 1.5rem;
            font-weight: 700;
            font-family: $num-font-family;
          }
          .details-before-price {
            font-weight: 400;
            color: #999;
            margin-right: 0.5em;
          }
        }
        .details-btn-buy {
          margin-bottom: 10px;
        }
        .details-btn-set {
          display: flex;
          button {
            width: 50%;
          }
        }
      }
    }
  }
  .login-none {
    height: 161px;
  }
  //장바구니
  .cart-area {
    width: 1000px;
    margin: 0 auto;
    .cart-content {
      margin: 135px 10px 0 20px;
      h2 {
        font-size: 2.2rem;
        font-weight: 700;
        text-align: left;
        color: #222;
      }
      table {
        margin-top: 15px;
        width: 100%;
        th {
          height: 5rem;
          border-top: 1px solid #999;
          font-size: 1.2rem;
          color: #999;
          text-align: center;
          padding-left: 1.5rem;
          font-weight: 500;
          background: #f6f6f6;
          line-height: 5rem;
        }
        .text-left {
          text-align: left;
        }
      }
      .cart-item {
        img {
          width: 70px;
        }
      }
    }
  }
}

// 푸터
.footer {
  margin-top: 100px;
  width: 100%;
  height: 233px;
  border-bottom: 1px solid #333;
  background-color: #333;
  .footer-area {
    position: relative;
  }
  .footer-logo {
    position: absolute;
    top: 30px;
    right: 0;
    img {
      width: 90px;
    }
  }
  .footer-membar {
    ul {
      display: inline-flex;
    }
    a {
      font-size: 1.2rem;
      color: #8b8b8b;
    }
  }
}

// input 디자인
.input-number {
  text-align: center;
  height: 38px;
  width: 50px;
  color: #555;
  font-size: 1.2rem;
  line-height: 38px;
  margin: 8px 0;
  border: 1px solid #cccccc;
}
// button 디자인
.btn-primary {
  border: 0;
  text-align: center;
  height: 60px;
  background-color: #444;
  width: 470px;
  line-height: 60px;
  -webkit-appearance: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.2s ease;
  &:hover {
    background-color: #222;
  }
}
.btn-default {
  border: 0;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: list-item;
  font-size: 1.5rem;
  font-weight: 500;
  color: #a4a4a4;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: #f6f6f6;
  }
}
.btn-facebook {
  border: 0;
  text-align: center;
  height: 60px;
  text-transform: uppercase;
  background-color: #3d66a2;
  width: 470px;
  line-height: 60px;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease;
  font-size: 1.6rem;
  color: #fff;
  &:hover {
    background-color: #2a5697;
  }
}
